form { 
  color: #95989a;

  label {
    color: #95989a;
    margin-bottom: 10px;
    display: inline-block;
  }

  input, textarea {
    border: 1px solid #CCC;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
    display: block;
    margin-bottom: 10px;
    width: 100%;
  }

  button {
    color: #fff;
    padding: 10px;
    font-size: 22px;
    border: 1px solid $color1;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    background-color: $color1;
  }
}
